<div style="margin-top:00px">
  <img src="/water_defender_logo.png" alt="Water Defender"   class="center-block img-responsive">
	
</div>
<br>
<br>

<table class="table" width="50%">
	<tr>
		<th>Ranking</th>
		<th>Name</th>
		<th>Daily Usage</th>
		<th>Unit</th>
	</tr>
   
    <% i=1 %>

	<% User.leaders.each do |user| %>
	  <% if user.daily_usage > 0 %>
	      <tr>
	      	<td> <%= i %> </td>
	      	<td><%= user.username %></td>
	      	<td><%= user.daily_usage %></td>
	      	<td>CF</td>
	      </tr>
	      <% i=i+1 %>
	   <% end %>
	 <% end %>

</table>