<div style="margin-top:00px">
  <img src="/water_defender_logo.png" alt="Water Defender"   class="center-block img-responsive">
	
</div>
<br>
<br>


<div class="row">
  <div class="col-lg-8">
    <table class="table" width="50%">
      <tr>
        <th>Ranking</th>
        <th>Name</th>
        <th>Daily Usage</th>
        <th>Unit</th>
      </tr>
       
        <% i=1 %>

      <% User.leaders.each do |user| %>
        <% if user.daily_usage > 0 %>
            <tr>
              <td> <%= i %> </td>
              <td><%= user.masked_username %></td>
              <td><%= (user.daily_mls / User::MLS[@unit.to_sym]).round(2) %></td>
              <td><%= @unit %></td>
            </tr>
            <% i=i+1 %>
         <% end %>
       <% end %>
    </table>
  </div>


  <div class="col-lg-1">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Country
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">U.S.</a></li>
        <li><a href="#">China</a></li>
        <li><a href="#">India</a></li>
        <li><a href="#">Canada</a></li>
      </ul>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        State/Province
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">California</a></li>
        <li><a href="#">Arizona</a></li>
        <li><a href="#">New York</a></li>
      </ul>
    </div>
  </div>

  <div class="col-lg-1">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Zip Code
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">92129</a></li>
        <li><a href="#">92128</a></li>
      </ul>
    </div>
  </div>

  
</div>

  

<div class="jumbotron">
  <h1 class="display-3 text-center">Are You Better At Saving Water Than Your Neighbors?</h1>
  <hr class="my-4">
  <p class="lead">Simply sign up, add two meter readings a few days apart, and we will show you where you are on the leader board. </p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
  </p>
</div>


<div class="jumbotron">
  <h1 class="display-3 text-center">How To Read Your Water Meter</h1>
</div>

      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%" src="20171016_174916.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">There's the water meter!</h3>
          <br>
          <br>
        </div>
      </div>

      

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%;" src="20171016_172120.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">104701.7 CF</h3>
          <p class="card-text text-center">Clean your meter Abby!</p>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%;" src="20171016_175010.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">524954.1 CF</h3>
          <p class="card-text text-center">Good job cleaning up your meter Shiven!</p>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%;" src="20171010_135241.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">13107.5 CF</h3>
          <p class="card-text text-center">Of course Isaac's meter is clean:)</p>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%" src="wm1.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">42245.63 CF</h3>
          <p class="card-text text-center">What should we write for Siena's?</p>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%;" src="wm2.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">383755.4 CF</h3>
          <p class="card-text text-center">There's grass growing on your meter, Sudish</p>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img-top"  style="width:100%;" src="wm3.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title text-center">430654.5 CF</h3>
          <p class="card-text text-center"></p>
          <br>
          <br>
        </div>
      </div>
    </div>



  </div>
</div>


<footer>
  &copy; Copyright 2017 Water Defenders
  <br>
  <br>
</footer>